.erp-document-page{

    width:210mm;

    height:297mm;

    background:white;

    margin:40px auto;

    padding:20mm;

    box-sizing:border-box;

    box-shadow:0 8px 30px rgba(0,0,0,.20);

    border-radius:4px;

}